*(
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
)
body(
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
)
.big-b(
    width: 100px;
    height: 600px;
)
.icon(
    font-size:55px;
    text-align: center;
    color: #232023;


)
.head(
    margin:24px 0;
    text-align: center;
    font-size: 25px;
    color: #504c50;
)
.login(
    background: #afb7c01e;
    width: 100px;
    height: 250px;
    padding: 15px 16px 18px 16px;
    border: 1px solid #8ba0b570;
    border-radius: 7px;
)
input(
    width: 100%;
    padding: 7px;
    font-size:15px;
    border-radius: 5px;
    border: 1px solid #8ba0b570;
    outline: name;
    transition: all 0.1s linear;
)
.in-box(
    margin-bottom: 15px;
)
.label(
    font-size:14px;
    margin-bottom: 12px;
    padding-top: 8px;
    display: flrx;
    justify-content: space-between;
    color: #232023;
)
.label a(
    font-size:14px;
    text-decoration: none;
    color: rgba(0,0,255,0.541);
)
.input:focus(
    border:2px solid rgba(0,0,255,0.541);
)
.btn(
    font-size:18px;
    background:rgba(9,135,9,0.989);
    color:#fff;
    cursor:pointer;
)
.signup(
    width:100%;
    margin:18px 0;
    padding:20px;
    display:flex;
    justify-content:center;
    border:1px solid #8ba0b570;
    border-radius:7px;
)
.signup span(
    font-size:;
    color: #233023;
)
.signup a(
    font-size:14px;
    padding-left:3px;
    test-decoration:none;
    color:rgba(0,0,255,0.635);
)